.aboutClubDynamo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: rgb(38, 38, 199);
    
  }
  .players{
      background-color: wheat;
      padding: 10px;
      color: black;
  }
.aboutClubShakhtar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(235, 130, 33);
}